
.home{
    height: 80vh;
}

.homeButton{
    background-color: #DEEFFF;
    border-radius: 30px;
}

.HomePic{
    position: absolute;
    width: 367px;
    height: 553px;
    /* z-index: 1; */
}

.HomePicBack{
    position: relative;
    background-color: #EAEEF1;
    width: 535px;
    height: 539px;
    border-radius: 300px;
    /* z-index: 0; */
}

.homeRight{
    margin-top: 70px;
    height: auto;
    /* position: relative; */
}

.homeLeft{
    margin-top: 70px;
    height: auto;
}

.WhyRNClinic{
    margin-top:0px;
    background-color: #E9F8FF;
    height: 100vh;
}

.WhyRNClinicPic{
    width: 324px;
    height: 398px;
    position: relative;
}

.WhyRNCliniBack{
    background-color: #111739;
    width: 309px;
    height: 401px;
    position: absolute;
    z-index: 0;
}

.WhyRNClinicPic{
    position: absolute;
    margin-left: 70px;
    margin-top: 50px;
}

.BestInUs{
    height: 110vh;
}

.card{
    width: 230px;
}



@media (max-width: 767px) {
    
    .HomePicBack, .WhyRNClinicBack {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  
    .HomePic {
      max-width: 200px;
      max-height: 300px;
    }
  
    .WhyRNClinicPic {
      max-width: 200px;
      max-height: 200px;
      margin-left: 0;
      margin-top: 25px;
    }

    .home{
        height: 150vh;
    }

    .WhyRNClinic{
        height: 160vh;
    }

    .homeLeft{
        height: 400px;
    }

    .homeRight{
        height: 400px;
    }
  }